.consulation {
  color: #fff;
  background: #0d0d0d url("../img/consultation-bg.jpg") no-repeat center/cover;
}

.consultation__title {
  text-align: left;
  font-size: 36px;
  line-height: 36px;

  @include phones {
    text-align: center;
    font-size: 27px;
  }
}

.consultation__text {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

